<h1>DJ Khaled</h1>
<p>Here we'll be showing you the keys to success through our Cloth Talk.</p>
<div class="jumbotron">
  <h1>Anotha One</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Success</a></p>
</div>